<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="splash.css">
</head>
<body style="background: url('splash_neon_bg.svg') center center / cover no-repeat;">
  <div class="image-container">
    <img src="splashscreen_noloop.gif" />
    <audio src="honeyhoney.mp3" autoplay loop></audio>
  </div>
  <div class="credits">
    <div class="continued-team">
      <p>Continued Development By</p>
      <p>• Banuag</p>
      <p>• Donaire</p>
      <p>• Milay</p>
    </div>
  </div>
</body>
</html>

