body {
    background-color: #f9f9fa;
    background-image: url('../assets/img/before_login_bg_2.png');
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the body covers the entire viewport height */
    margin: 0; /* Removes default body margin */
}

img {
    max-width: 50%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}