body {
    cursor: url('../../assets/img/cursor.gif') 16 16, auto;
}

.cursor-trail {
    position: absolute;
    width: 20px; /* Length of each dash */
    height: 2px; /* Thickness of the dash */
    background: black; /* Color of the dash */
    border-radius: 1px; /* Rounding the edges of the dash */
    pointer-events: none;
    opacity: 0.8;
    transform-origin: left; /* Makes sure the dash follows the cursor accurately */
    transition: transform 0.1s linear, opacity 0.5s;
}

.gantt-base {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    color: white;
    padding: 15px 0;
}

$colors: transparent, #9C0000, darkgreen, #505050, #171515, #0000E6, #40A800, #720E9E, #c45608, #634d40, #FFD700, #00FF00, #FF00FF, #00FFFF, #FF4500, #FF1493, #D32F2F, #1976D2, #388E3C, #FBC02D, #8E24AA, #E64A19, #7B1FA2, #0288D1, #303F9F, #00796B, #C2185B, #512DA8, #0097A7, #689F38, #F57C00, #C51162, #AA00FF, #2962FF, #0091EA, #00B8D4, #00BFA5, #00C853, #64DD17, #AEEA00, #FFD600, #FFAB00, #FF6D00, #DD2C00, #D50000, #C62828, #AD1457, #6A1B9A, #4527A0, #283593, #1565C0, #0277BD, #00838F, #00695C, #2E7D32, #558B2F, #9E9D24, #F9A825, #FF8F00, #EF6C00, #BF360C, #3E2723, #212121, #37474F, #B0BEC5, #FFEB3B, #CDDC39, #8BC34A, #4CAF50, #009688, #00BCD4, #03A9F4, #2196F3, #3F51B5, #673AB7, #9C27B0, #E91E63, #F44336, #FF9800, #FF5722, #795548, #9E9E9E, #607D8B, #004D40, #1B5E20, #FDD835, #FB8C00, #FFB300, #FF7043, #6D4C41, #757575, #546E7A, #37474F, #263238, #1DE9B6, #00E676, #76FF03, #C6FF00, #FFEA00, #FFC400, #8E24AA, #42A5F5, #7C4DFF, #00B0FF, #FF4081, #FF80AB, #1B5E20, #D500F9, #F06292, #AA00FF, #D50000, #9C0000, darkgreen, #505050, #171515, #0000E6, #40A800, #720E9E, #c45608, #634d40, #FFD700, #00FF00, #FF00FF, #00FFFF, #FF4500, #FF1493, #D32F2F, #1976D2, #388E3C, #FBC02D, #8E24AA, #E64A19, #7B1FA2, #0288D1, #303F9F, #00796B, #C2185B, #512DA8, #0097A7, #689F38, #F57C00, #C51162, #AA00FF, #2962FF, #0091EA, #00B8D4, #00BFA5, #00C853, #64DD17, #AEEA00, #FFD600, #FFAB00, #FF6D00, #DD2C00, #D50000, #C62828, #AD1457, #6A1B9A, #4527A0, #283593, #1565C0, #0277BD, #00838F, #00695C, #2E7D32, #558B2F, #9E9D24, #F9A825, #FF8F00, #EF6C00, #BF360C, #3E2723, #212121, #37474F, #B0BEC5, #FFEB3B, #CDDC39, #8BC34A, #4CAF50, #009688, #00BCD4, #03A9F4, #2196F3, #3F51B5, #673AB7, #9C27B0, #E91E63, #F44336, #FF9800, #FF5722, #795548, #9E9E9E, #607D8B, #004D40, #1B5E20, #FDD835, #FB8C00, #FFB300, #FF7043, #6D4C41, #757575, #546E7A, #37474F, #263238, #1DE9B6, #00E676, #76FF03, #C6FF00, #FFEA00, #FFC400, #8E24AA, #42A5F5, #7C4DFF, #00B0FF, #FF4081, #FF80AB, #1B5E20, #D500F9, #F06292, #AA00FF, #D50000;

@for $i from 0 through 205 {
    .gantt-sm-#{$i} {
        @extend .gantt-base;
        background-color: nth($colors, $i + 1);
        height: 50px;
        width: 20px;
    }
    .gantt-lg-#{$i} {
        @extend .gantt-base;
        background-color: nth($colors, $i + 1);
        height: 55px;
        width: 35px;
    }
}


#title {
	text-align: center;
	margin-bottom: 40px;
}

#mainContainer {
	width: 70%;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

#leftContainer {
	float: left;
	width: 50%;
}

#rightContainer {
	float: right;
	width: 50%;
}

#memoryContainer {
	float: left;
	margin-left: auto;
	margin-right: auto;
	height: 80vh;
	width: 150px;
}

#memory {
	float: right;
	width: 150px;
	height: 100%;
}

#block {
	box-sizing: border-box;
	border: 1px solid #2C3E50;
	width: 100%;
}

#blockLabel {
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

#logBoxContainer {
	width: 100%;
	float: left;
	font-family: Consolas, monospace;
	height: 400px;
	overflow: hidden;

/*		box-sizing: border-box;
	border: 1px solid #FFFFFF;*/
}

#logBox {
	height: 100%;
	width: 100%;
	overflow: auto;
	padding-right: 20px; /* Hides scrollbar */
	display: none;
}

.available {
	background-color: #27ae60;
}

.unavailable {
	background-color: #c0392b;
}

#processTable {
	width: 400px;
}

#processTable th {
	text-align: left;
	padding-right: 20px;
}

#processTable td {
	color: #BDC3C7;
}