.gantt-base {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    color: white;
    padding: 15px 0;
}

.gantt-sm-0 {
    background-color: transparent;
    height: 50px;
    width: 12px;
}

.gantt-sm-1 {
    background-color: #9C0000;
    height: 50px;
    width: 12px;
}

.gantt-sm-2 {
    background-color: darkgreen;
    height: 50px;
    width: 12px;
}

.gantt-sm-3 {
    background-color: #505050;
    height: 50px;
    width: 12px;
}

.gantt-sm-4 {
    background-color: #171515;
    height: 50px;
    width: 12px;
}

.gantt-sm-5 {
    background-color: #0000E6;
    height: 50px;
    width: 12px;
}

.gantt-sm-6 {
    background-color: #40A800;
    height: 50px;
    width: 12px;
}

.gantt-sm-7 {
    background-color: #720E9E;
    height: 50px;
    width: 12px;
}

.gantt-sm-8 {
    background-color: #c45608;
    height: 50px;
    width: 12px;
}

.gantt-sm-9 {
    background-color: #634d40;
    height: 50px;
    width: 12px;
}

.gantt-lg-0 {
    background-color: transparent;
    height: 55px;
    width: 20px;
}

.gantt-lg-1 {
    background-color: #9C0000;
    height: 55px;
    width: 20px;
}

.gantt-lg-2 {
    background-color: darkgreen;
    height: 55px;
    width: 20px;
}

.gantt-lg-3 {
    background-color: #505050;
    height: 55px;
    width: 20px;
}

.gantt-lg-4 {
    background-color: #171515;
    height: 55px;
    width: 20px;
}

.gantt-lg-5 {
    background-color: #0000E6;
    height: 55px;
    width: 20px;
}

.gantt-lg-6 {
    background-color: #40A800;
    height: 55px;
    width: 20px;
}

.gantt-lg-7 {
    background-color: #720E9E;
    height: 55px;
    width: 20px;
}

.gantt-lg-8 {
    background-color: #c45608;
    height: 55px;
    width: 20px;
}

.gantt-lg-9 {
    background-color: #634d40;
    height: 55px;
    width: 20px;
}

.border {
    border: 2px solid darkgray;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: rgb(251, 251, 251);
    min-height: 105px;
}

.ttable {
    margin: 0;
    font-size: 14px;
}
