
@font-face {
    font-family: 'Fredoka One';
    src: url('../../assets/fonts/FredokaOne.ttf') format('opentype');
  }


h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One' !important;
}

.appIconButton {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent; 
    border: none;
    padding: 0px;
}


.appIconButton div {
    font-size: 16px; 
    color: black; 
}
.dialogContainer {
    position: relative;
    top: 20;
    left: 30;
    width: 98%; /* or your desired width */
    height: 86%; /* or your desired height */
    background-image: url('./bees.gif');
    background-repeat: repeat;
    background-size: 300px 250px; /* Adjust to your image size */
}


.mahStroke {
    font-size:xx-large;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(245 158 11);
}



.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(255, 159, 34);
  --color-secondary: #ffca68;
  --color-tertiary: #ffc67c;
  --color-quaternary: #ffc23d;
  --color-quinary: #fdbc0a;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}
@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}