body {
  background-image: url('./desktop_bg.png');
  background-size: cover;
  height: 100vh;
}

  .taskbar {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 60px;
    background: linear-gradient(to bottom, #857437, #E0B22C);
    display: flex;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5); */
    border: 1px solid #d6d6d6;
    border-radius: 5px;
  }

  .currentTime {
    color: #d6d6d6;
    font-family: 'Helvetica Now Display Regular', sans-serif !important;
    font-size: 8px;
    position: absolute;
  }

  