/* body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../assets/img/login_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.login-container {
  text-align: center;
}

.content {
  text-align: center;
}

.userIcon {
  width: 150px;
  height: 150px;
  transform: translateY(-20%);
  transform: translateX(380%);
  padding: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  align-items: center;
  position: sticky;
}
.welcomeText {
  color: rgb(255, 255, 255);
  font-family: 'Work Sans'!important; 
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.speech-recog-btn {
  background-color: transparent; 
  border: none;
  margin: 70 px;
  padding: 50px; 
  cursor: pointer;
  font-size: 40px; 
}

.speech-recog-btn .fa-microphone {
  color: #060de0; 
}

.error {
  color: #ff0000; 
  font-family: 'Work Sans', sans-serif;
} */


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../assets/img/login_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.loginContainer {
  text-align: center;
}

.userIcon {
  width: 200px;
  height: 200px;
  border: 5px solid rgb(255, 251, 184);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: sticky
}

.welcomeText{
  color: #ffffff;
  font-family: 'Honey Jar Free Trial', sans-serif !important;
  font-size: larger;
}

.error{
  font-family: 'Work Sans', sans-serif !important;
}